/*up ub ub-ver bc-bg*/
#page_0{
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    border: 0;
    display: -webkit-box !important;
    display: box !important;
    position:relative;
    -webkit-box-orient:vertical;
    box-orient:vertical;
    background-color: #FFFFFF;
}
/*uh bc-text-head ub bc-head*/
#header {
    display: block;
    width: 100%;
    font-size: 1em; 
    padding: 0 0 0;
    margin: 0;
    color: white;
    display: -webkit-box !important;
    display: box !important;
    position: relative;
    background-color: #66c769;
}
/*nav-btn*/
#nav-left{
    min-height: 1em;
    min-width: 3em;
    display: -webkit-box !important;
    display: box !important;
    position: relative;
    -webkit-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    box-pack: center;
}
/*ub-img icon-close umw2 umh4*/
#btn_close{
    -webkit-background-size:contain;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    background-image: url('icons/icon-close.png') !important;
    min-width: 2em;
    min-height: 2em;
}
/*ut ub-f1 ulev-3 ut-s tx-c*/
#nav_center{
    padding: .72em 1em .72em;
    margin: 0;
    position:relative;
    -webkit-box-flex: 1; 
    box-flex: 1;
    font-size: 1em !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap !important;
    outline: 0 !important;
    text-align: center;
}
/*nav-btn nav-bt*/
#nav-right{
    min-height: 2em;
    min-width: 3em;
    display: -webkit-box !important;
    display: box !important;
    position: relative;
    -webkit-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    box-pack: center;
}
#content{
    position:relative;
    -webkit-box-flex: 1; 
    box-flex: 1;
    text-align: left;
}
 