.c-bla2{
	background-color:rgba(33,141,213,0.2);
}
.c-bla3{
	background-color:#FFFFFF;
}
.t-gra
{
	color:gray;
}
.bendi{
	background-image:url('myImg/bendi.png');
}
.dingyue{
	background-image:url('myImg/dingyue.png');
}
.gentie{
	background-image:url('myImg/gentie.png');
}
.huati{
	background-image:url('myImg/huati.png');
}
.juhe{
	background-image:url('myImg/juhe.png');
}
.tupian{
	background-image:url('myImg/tupian.png');
}
.xinwen{
	background-image:url('myImg/xinwen.png');
}
.xuanze{
	background-image:url('myImg/xuanze.png');
}
.c-bg{
	background-image:url('myImg/background.png');
}
.drawer2-bg{
    background-image:url('myImg/drawer2-bg.png');
}
.res-bodybg{
    background-image:url('myImg/bodybg.png');
}
.res-doublearrow{
    background-image:url('myImg/doublearrow.png');
}
.ubb-news{
	border-bottom: 1px solid #1f2123;
}
.us-news {
	-webkit-box-shadow: 0 1px 0 rgba(53, 56, 58, 1);
	box-shadow: 0 1px 0 rgba(53, 56, 58, 1);
}
.t-blu-b9{
	color:#b9c2ca;
}
.uwh-tBtn{
    width:1.75em;
    height:1.75em;
}
.mar-ar1{
    margin-right:0.625em;
}.ut-sbody{
    -webkit-box-shadow:-20px 0px 20px rgba(63,66,72,1) inset;
    box-shadow:-20px 0px 20px rgba(63,66,72,1) inset;
}
.uinn-header{
    padding-top:0.8em;
    padding-bottom:0.6em;
}
.uinn-hcontent{
    padding:0.5em 0.5em 0;
}
.uinn-lrcontent{
    padding:0 0.5em;
}
.ubb-header{
    border-bottom:1px solid #FFFFFF;
}
.uinn-tlist{
    
}
.uinn-tblist{
    padding-top:0.7em;
    padding-bottom:0.7em;
}
.uinn-tbinlist{
    padding-top:0.9em;
    padding-bottom:0.9em;
}
.ulev-list{
    font-size:0.9em;
}
.t-ef6{
    color:#ef6413;
}
.uinn-weather{
    padding:1em;
}

.umw-weather{
    min-width:3em;
    min-height:3em;
}
.umwh-icons{
    min-height:1.6em;
    min-width:1.6em;
}
.umwh-addmore{
    min-height:1.8em;
    min-width:1.8em;
}
.t-67d{
    color:#67d5ff;
}
.ulev-temp{
    font-size:1.7em;
}

.uinn-date{
    padding: 0.5em 0.5em 1em;
}

.uinn-icons{
    padding:1em;
}
