.uwh-set3{
	width:5.25em;
	height:5.25em;
}
.uwh-set4{
	width:1.1875em;
	height:1.1875em;
}
.uwh-set5{
	width:1.35em;
	height:1.35em;
}
.uc-a-set3 {
	-webkit-border-radius: 5.25em;
	border-radius: 5.25em;
}
.ub-a-set4{
	-webkit-border-radius: 1.3125em;
	border-radius: 1.3125em;
}
.uc-a-set4 {
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.icon-set3{
	background-image:url('myImg/icon-set3.png');
}
.uinn-a8{
	padding:0.4em 0.7em 0.3em 0.7em;
}
.set-pos{
	position:absolute;
	bottom:1px;
	right:0.25em;
}
.t-gra-set3{
	color:#a1a1a1;
}
.uwh-pS1{
	width:1.28em;
	height:1.28em;
}
.setImg1{
	background-image:url('myImg/set_img1.png');
}
.uinn-a1{
    padding:0.625em;
}
.umar-at1{
    margin-top:0.625em;
}
.uinn-a7{
    padding:0 0.625em;
}
.ulev-app1{
    font-size:0.875em;
}
.c-wh
{
    background-color:#FFF;
}