.b-gra3{
	border-color:#d8d8d8;
}
.uinn-a6{
	padding:1em 0.65em 0 0.65em;
}
.t-gra4{
	color:#8c8c8c;
}
.uinn-a1{
    padding:0.625em;
}
.uinn-a7{
    padding:0 0.625em;
}
.c-wh
{
    background-color:#FFF;
}
.umar-at1{
    margin-top:0.625em;
}
.uinn-at1{
    padding-top:1em;
}
