.c-bla2{
	background-color:rgba(33,141,213,0.2);
}
.c-bla3{
	background-color:#161d27;
}
.t-gra
{
	color:gray;
}
.bendi{
	background-image:url('myImg/bendi.png');
}
.dingyue{
	background-image:url('myImg/dingyue.png');
}
.gentie{
	background-image:url('myImg/gentie.png');
}
.huati{
	background-image:url('myImg/huati.png');
}
.juhe{
	background-image:url('myImg/juhe.png');
}
.tupian{
	background-image:url('myImg/tupian.png');
}
.xinwen{
	background-image:url('myImg/xinwen.png');
}
.xuanze{
	background-image:url('myImg/xuanze.png');
}
.c-bg{
	background-image:url('myImg/background.png');
}
.ubb-news{
	border-bottom: 1px solid #1f2123;
}
.us-news {
	-webkit-box-shadow: 0 1px 0 rgba(53, 56, 58, 1);
	box-shadow: 0 1px 0 rgba(53, 56, 58, 1);
}
.t-blu-b9{
	color:#b9c2ca;
}
.uwh-tBtn{
    width:1.75em;
    height:1.75em;
}
.mar-ar1{
    margin-right:0.625em;
}