.metroImg1
{
	background-image:url('myImg/metroImg1.png');
}

.Icon-metro{
	background-image:url('myImg/metroIcon7.png');
}
.Icon-metro1{
	background-image:url('myImg/metroIcon1.png');
}
.Icon-metro2{
	background-image:url('myImg/metroIcon2.png');
}
.Icon-metro3{
	background-image:url('myImg/metroIcon3.png');
}
.Icon-metro4{
	background-image:url('myImg/metroIcon4.png');
}
.Icon-metro5{
	background-image:url('myImg/metroIcon5.png');
}
.Icon-metro6{
	background-image:url('myImg/metroIcon6.png');
}
.c-m-metro1
{
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.6)),to(rgba(0, 0, 0, 0)));
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.6) 0%,  rgba(0, 0, 0, 0) 100%);
	background-image: linear-gradient(left, rgba(0,0,0,0.6) 0%, rgba(0, 0, 0, 0) 100%) ; 	
}
.c-org-me01{
	background-color:#ff9712;
}
.c-gra-me01{
	background-color:#504950;
}
.c-red-me01{
	background-color:#d2280d;
}
.c-blu-me01{
	background-color:#005c85;
}
.c-blu-me02{
	background-color:#4b6671;
}
.c-blu-me03{
	background-color:#2db7b7;
}
.uwh-metro2{
	width:0.8125em;
	height:1em;
}
.uwh-metro3{
	width:1.4em;
	height:1.4em;
}

.uh-metro1{
	height:13.75em;
}
.uinn-metro2{
	padding:0.625em 0.25em 0.5em 0.25em;
}
.umar-mel1{
	margin-left:0.7em;
}
.t-org-metro1{
	color:#ffa229;
}
.t-wh-metro1{
	color:rgba(255,255,255,0.6);
}
.ulev-me1{
	font-size:0.9em;
}
.appLogo
{
	background-image:url('myImg/logo1.png');
}
.uwh-logo{
	width:4.4375em;
	height:1.875em;
}
.t-wh2{
	color:rgba(255,255,255,0.6);
}
.uw-app1{
	width:50%;
}
.umar-ar3{
    margin-right:0.5em;
}