.b-gra-com{
	border-color:#a4a4a4;
}
.umar-r-com2{
	margin-right:1.25em;
}
.uinn-com{
	padding:0.25em 0;
}

.umar-r-com{
	margin-right:1.625em;
}
.t-act-com{
	background-image:url('myImg/t-act-list.png');
}
.uh-app4{
	height:2.75em;
}
.ubb2{
	border-bottom:0.0625em solid #cccccc;
}
.t-blu2{
	color:#0670b7;
}
.uabs-r-icon1
{
	position:absolute;
	left:50%;
	bottom:-0.0625em;
	margin-left:-0.34em;
}
.uwh-icon3{
	width:0.6875em;
	height:0.40625em;
}
.t-icon2{
	background-image:url('myImg/t-act-icon2.png');
}

.uinn-a7{
    padding:0 0.625em;
}



